<form action="/menu/auth" method="post">
  <input type="text" placeholder="Aha! subdomain" name="subdomain"></input>
  <input type="submit" value="Get Started"></input>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>